body {
  background: #bccade;
  font-family: "Open Sans", sans-serif;
  color: #323232;
}

h1 {
  font-weight: 700;
  font-size: 39px;
  color: #f2491d;
  text-transform: capitalize;
}

h2 {
  color: 323232;
  font-size: 80px;
  line-height: 1;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
}

hr {
  color: #cfcbd8;
}

footer {
  font-size: 14px;
  text-align: center;
  margin-top: 40px;
}

.container {
  background: white;
  width: 800px;
  padding: 40px;
  margin-top: 60px;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

.source-code {
  color: #90b8d5;
  text-decoration: none;
  transition: ease-in;
}

.source-code:hover {
  text-decoration: underline;
  color: #90b8d5;
}

.degrees {
  font-size: 20px;
  position: relative;
  top: -40px;
}

.overview {
  padding: 20px 0;
}

.search-form {
  padding-bottom: 15px;
}

.search-form .form-control {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #bccade;
}

.search-form .form-control::placeholder {
  color: white;
}

.search-form .btn {
  background: #f3bfc8;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}

.weather-forecast {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.weather-forecast-date {
  line-height: 20px;
}

.weather-forecast-temps-max {
  color: #90b8d5;
}

.weather-forecast-temps-min {
  color: #bccade;
}
